@use './themes/defaultTheme';
@use './util';
@use './base';
@use './layout/app';
@use './components/list';

*{
  overflow: hidden;
}

.main-background{
  background-image: linear-gradient(#00000000, #000000);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box{
  background-color: #2f2f2f;
  border-radius: 1rem;

  padding: 1.25rem;

  width: 80vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: #eee;

  h1{
    padding: 0.5rem;
    border-bottom: 0.375rem #eee solid;
    height: fit-content;
    margin-bottom: 4rem;
  }

  h2{
    text-align: center;
    animation: spin 1s;
    padding: 0.5rem;
  }

  h3{
    padding: 0.5rem;
  }
}

@keyframes spin {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.update-btn {
  color: #eeeeee;
  background-color: rgb(120, 71, 120);
  padding: 0.75rem;
  border-radius: 0.25rem;

  scale: 1;
  transition: 0.15s ease-in-out;

  &:hover{
    scale: 1.1;
    transition: 0.15s ease-in-out;
  }
}